<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Desarrollo de Aplicaciones Empresariales II</title>
</head>
<body>
<div class="container">
    <h3>Mantenimiento de Libros</h3>
    <br>
    <form action="#" method="post" th:object="${book}" th:action="@{/books/update/{isbn}(isbn=${book.isbn})}">
        <div class="form-group">
            <label for="isbn">Codigo</label>
            <input type="text" class="form-control" id="isbn" placeholder="Ingrese codigo" th:field="*{isbn}" disabled>
        </div>
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" class="form-control" id="title" placeholder="Ingrese titulo" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="summary">Resumen</label>
            <input type="text" class="form-control" id="summary" placeholder="Ingrese resumen" th:field="*{summary}">
        </div>
        <div class="form-group">
            <label for="publicationDate">Fecha Publicacion</label>
            <input type="date" class="form-control" id="publicationDate" placeholder="Ingrese fecha publicacion" th:field="*{publicationDate}">
        </div>
        <div class="form-group">
            <label for="numberOfPages">N° Páginas</label>
            <input type="text" class="form-control" id="numberOfPages" placeholder="Ingrese número de paginas" th:field="*{numberOfPages}">
        </div>
        <div class="form-group">
            <label for="languages">Lenguaje</label>
            <input type="text" class="form-control" id="languages" placeholder="Ingrese lenguaje" th:field="*{languages}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>