<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Desarrollo de Aplicaciones Empresariales II</title>
</head>
<body>
<div class="container">
    <h3>Mantenimiento de Libros</h3>
    <br>
    <a th:href="@{/books/add}" class="btn btn-success pull-right">Nuevo</a>
    <div class="row" th:switch="books">
        <div class="table-responsive" th:case="*">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">Codigo</th>
                    <th class="text-center">Titulo</th>
                    <th class="text-center">Fecha Publicacion</th>
                    <th class="text-center">N° Paginas</th>
                    <th class="text-center">Lenguaje</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <th th:text="${book.isbn}"></th>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.publicationDate}"></td>
                    <td th:text="${book.numberOfPages}"></td>
                    <td th:text="${book.languages}"></td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/books/edit/{isbn}(isbn = ${book.isbn})}" class="btn btn-primary btn-sm mr-3">Editar</a>
                            <a th:href="@{/books/delete/{isbn}(isbn = ${book.isbn})}" class="btn btn-danger btn-sm mr-3">Eliminar</a>
                            <a th:href="@{/books/authors/{isbn}(isbn = ${book.isbn})}" class="btn btn-dark btn-sm">Autores</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>